C:/Users/frenk/Downloads/Good[[:space:]]and[[:space:]]bad[[:space:]]classification[[:space:]]of[[:space:]]Fresh[[:space:]]CARROT/Good[[:space:]]and[[:space:]]bad[[:space:]]classification[[:space:]]of[[:space:]]Fresh[[:space:]]CARROT/Carrot-Model/* filter=lfs diff=lfs merge=lfs -text
